<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="ProductionLog" type="log4net.Appender.RollingFileAppender">
      <file value="Finanzas"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="_yyyyMMdd.lo\g" />
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="25MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="DevelopmentLog" type="log4net.Appender.FileAppender">
      <file value="Finanzas.log"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <!--ALL | DEBUG | INFO | ERROR | FATAL | OFF-->
      <level value="DEBUG"/>
      <appender-ref ref="DevelopmentLog"/>
    </root>
  </log4net>
</configuration>